<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo detail</title>
  </head>
  <body>
    <h1><%= title %></h1>

    <ul>
        <li>
          <p>Stav todočka: <a href="/todo/status-todo/<%= id %>">
            <%= todo.done ? 'Hotovo' : 'Nesplněno' %>
          </a></p>
        </li>
        <li>
          <a href="/todo/remove-todo/<%= id %>">
            Odebrat
          </a>
        </li>
        <li>
          <a href="/back">Vrátit se zpet na seznam todůček</a>
        </li>
    </ul>

    <form method="post" action="/todo/rename/<%= id %>">
      <label>Nový název: </label>
      <input type="text" name="newTitle">
      <button type="submit">Přejmenovat TODO</button>
    </form>

  </body>
</html>
